
<div>
<h1>${report.webTitle}</h1>


<h2>Degree Audit Summary</h2>

<table class="audit-summary">
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td class="student-name">
						<label>Student Name:</label> ${report.studentName}
					</td>
					<td class="date-prepared">
						<label>Date Prepared:</label> ${report.datePrepared}
					</td>
				</tr>
				<tr>
					<td class="uw-entry-date">
						<label>UW Entry Date:</label> ${report.entryDateUW}
					</td>
					<td class="program-entry-date">
						<label>Program Entry Date:</label> ${report.entryDateProgram}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<h2>Detailed Degree Audit</h2>
<p>
THIS REPORT IS AN ADVISING TOOL USED TO TRACK DEGREE PROGRESS. FINAL CONFIRMATION OF DEGREE
REQUIREMENTS IS SUBJECT TO DEPARTMENT OR COLLEGE AND UNIVERSITY APPROVAL.
</p>
<p>
Please review this audit carefully and bring any questions to your adviser in the
Communications Advising Office, 118 Communications, BOX 353740, 543-8860.
</p>

<div class="control-toolbar">
	<label for="requirement_status">Show</label>
	<select id="requirement_status">
		<option value="all">All Requirements</option>
		<option value="N">Incomplete Only</option>
		<option value="I">In-Progress Only</option>
		<option value="C">Complete Only</option>
	</select>
</div>


#set( $courseAcceptableCounter = 0 )

#foreach( $section in $report.sectionList )
#if( ${section.hasCaption()} )
<div class="requirement-group">
	<div class="group-heading">
		<h3>${section.caption}</h3>
		<a href="#jump" class="jump">Jump to the next section</a>
		<a href="#top" class="back">Back to top</a>
	</div>
#foreach( $req in $section.requirementList )
	<div class="requirement ${req.status}">
		<div class="requirement-heading">
			<div class="${req.status}">
                <h4>${req.caption}</h4>
			</div>
		</div>
		<div class="requirement-body">
		    <div class="requirement-content">
                <div class="requirement-info">
#if( ${req.hasInfo()} )
	    			<p>${req.info}</p>
#end
                </div>
#if( ${req.hasCredits()} )
                <ul class="progress">
                    <li class="required"><label>Required:</label> ${req.credits.required} credits</li>
                    <li class="earned"><label>Earned:</label> ${req.credits.earned} credits</li>
                    <li class="inprogress"><label>In-progress:</label> ${req.credits.inprogress} credits</li>
                    <li class="needs"><label>Needs:</label> ${req.credits.needs} credits</li>
                </ul>
#end
#if( ${req.hasGPA()} )
                <ul class="progress">
                    <li class="required"><label>Required:</label> ${req.gpa.earned} GPA</li>
                    <li class="earned"><label>Earned:</label> ${req.gpa.required} GPA</li>
                </ul>
#end
#if( ${req.hasCount()} )
                <ul class="progress">
                    <li class="required"><label>Required:</label> ${req.count.required} credits</li>
                    <li class="earned"><label>Earned:</label> ${req.count.earned} credits</li>
                    <li class="needs"><label>Needs:</label> ${req.count.needs} credits</li>
                </ul>
#end
            </div>
#foreach( $subreq in $req.subrequirementList ) ## subreq
            <div class="subrequirement">
                <div class="subrequirement-heading">
                    <div class="${subreq.status}">
#if( ${subreq.hasCaption()} )
                        <h5>${subreq.caption}</h5>
#end
                    </div>
                </div>
                <div class="subrequirement-content">
                    <div class="subrequirement-info">
#if( ${subreq.hasInfo()} )
		    	    	<p>${req.info}</p>
#end
#if( ${subreq.hasCourseFilter()} )
			        	<p><a href="/${subreq.courseFilter}">View courses that fulfills this requirement</a></p>
#end
		    	    </div>
#if( ${subreq.hasCredits()} )
                    <ul class="progress">
                        <li class="required"><label>Required:</label> ${subreq.credits.required} credits</li>
                        <li class="earned"><label>Earned:</label> ${subreq.credits.earned} credits</li>
                        <li class="inprogress"><label>In-progress:</label> ${subreq.credits.inprogress} credits</li>
                        <li class="needs"><label>Needs:</label> ${subreq.credits.needs} credits</li>
                    </ul>
#end
#if( ${subreq.hasGPA()} )
                    <ul class="progress">
                        <li class="required"><label>Required:</label> ${subreq.gpa.earned} GPA</li>
                        <li class="earned"><label>Earned:</label>${subreq.gpa.required} GPA</li>
                    </ul>
#end
#if( ${subreq.hasCount()} )
                    <ul class="progress">
                        <li class="required"><label>Required:</label> ${subreq.count.required} credits</li>
                        <li class="earned"><label>Earned:</label> ${subreq.count.earned} credits</li>
                        <li class="needs"><label>Needs:</label> ${subreq.count.needs} credits</li>
                    </ul>
#end

#if( ${subreq.hasCourseAcceptableList()} )
#set( $courseAcceptableCounter = $courseAcceptableCounter + 1 )
                    <a href="#subreq${courseAcceptableCounter}" class="subrequirement-courses-acceptable-link">View courses that fulfill this requirement</a>
                    <div id="subreq_${courseAcceptableCounter}_div" class="subrequirement-courses-acceptable">
                        <h6>Courses fulfill this requirement</h6>
                        <table>
                            <tbody>
#foreach( $acceptable in $subreq.courseAcceptableList )

#if( ${acceptable.hasCluid()} )##Hardcoded the value true to show the message "You are currently enrolled on the popup" Replace the hard coded true value when the academic calender is mapped.
                    <tr>
                        <td><a href="#" onclick="openCourse('${acceptable.cluid}',event,true);"#">${acceptable.dept} ${acceptable.number} ${acceptable.description}</a></td>
                    </tr>
#else
                    <tr>
                        <td>${acceptable.dept} ${acceptable.number} ${acceptable.description}</td><td>${acceptable.quarter}</td>
                    </tr>
#end

#end
                            </tbody>
                        </table>
                        <a href="#">View all ${subreq.courseAcceptableListCount} courses</a>
                    </div>
#end
#if( ${subreq.hasCourseTakenList()} )
                    <div class="subrequirement-courses-taken">
                        <table>
                            <thead>
                                <tr>
                                    <th>Qtr</th><th>Course Name</th><th>Credits</th><th>Grade</th>
                                </tr>
                            </thead>
                            <tbody>
#foreach( $taken in $subreq.courseTakenList )
                                <tr>
#if( ${taken.hasCluid()} )##Hardcoded the value true to show the message "You are currently enrolled on the popup" Replace the hard coded true value when the academic calender is mapped.
                                    <td>${taken.quarter}</td><td><a href="#" onclick="openCourse('${taken.cluid}',event,true);">${taken.dept} ${taken.number} ${taken.description}</a></td>
#if( ${taken.inProgress} )
                                    <td>In Progress</td><td></td>
#else
                                    <td>${taken.credits}</td><td>${taken.grade}</td>
#end ## if inprogress
#else
                                    <td>${taken.quarter}</td><td>${taken.dept} ${taken.number} ${taken.description}</td><td>${taken.credits}</td><td>${taken.grade}</td>
#end ## if hasCluid
                                </tr>
#end ## foreach taken
                            </tbody>
                        </table>
                    </div>
#end
                </div>
            </div>
#end ## subreq
        </div>
	</div> <!-- end requirement-body -->
#end ## foreach req
</div>
#end ## if section.hasCaption
#end ## foreach section
</div>