#txtaudit_span table {
	margin: 0;
}
#txtaudit_span .control-toolbar {

}
#txtaudit_span .requirement-group {
	margin-top: 1em;
}
#txtaudit_span .group-heading {
	background: #e9e9e9;
	border: solid 1px #dadada;
	padding: 20px;
	position: relative;
	margin-bottom: 1em;
}
#txtaudit_span .group-heading a {
	position: absolute;
	right:20px;
}
#txtaudit_span .group-heading a.jump {
	top:10px;
}
#txtaudit_span .group-heading a.back {
	top:30px;
}
#txtaudit_span .group-heading h3 {
	font-weight: bold;
	margin: 0;
	font-family: Helvetica, Arial, clean, sans-serif;
	font-size: 1.6em !important;
}
#txtaudit_span .requirement {
	margin:0 20px;
}
#txtaudit_span .requirement .requirement-heading {
	border-top: dashed 1px #acacac;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-position: 7px center;
}
#txtaudit_span .requirement .requirement-heading.expanded {
	background-image: url('../../krad/images/h3_expand-back-black-ks.png');
}
#txtaudit_span .requirement .requirement-heading.collapsed {
	background-image: url('../../krad/images/h3_collapse-back-black-ks.png');
}
#txtaudit_span .requirement .requirement-heading .N {
	background: url('../images/iconIncomplete.png') no-repeat 20px 0px;
	padding-left: 68px;
}
#txtaudit_span .requirement .requirement-heading .C {
	background: url('../images/iconComplete.png') no-repeat 20px 0px;
	padding-left: 68px;
}
#txtaudit_span .requirement .requirement-heading div h4 {
	font: 12px/20px Helvetica, Arial, clean, sans-serif !important;
	margin: 0;
	padding: 0;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
#txtaudit_span .requirement .requirement-body {
    padding: 10px 20px;
}
#txtaudit_span .requirement .progress {
	margin: 0;
	padding: 0;
}
#txtaudit_span .requirement .progress li {
	margin-left: 1.5em;
}
#txtaudit_span .requirement .progress li:first-child {
	margin-left: 0;
}
#txtaudit_span .requirement .progress label {
    font-weight: normal;
}
#txtaudit_span .requirement .progress .needs,
#txtaudit_span .requirement .progress .needs label {
    font-weight: bold;
}