#courseSearchView_div button, .button-primary {
	background-image: -moz-linear-gradient(top, #8bcefd, #007dd6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8bcefd), color-stop(1, #007dd6));
    background-image: -o-linear-gradient(top,rgba(139,206,253,1),rgba(0,125,214,1));    /* be nice to Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8bcefd, endColorstr=#007dd6);  /* IE7 and older */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8bcefd, EndColorStr=#007dd6);  /*IE8 */
    background:  linear-gradient(top, rgba(139,206,253,1) 0%, rgba(0,125,214,1) 100%);  /* for the future */
	background-color:#007dd6;
	color: #fff;
	text-shadow: none;
	border-color:#aaa;
	padding: 0.4em 2em;
	font-size: 1em;
	font-weight:bold;
}

#course_search_functions_div {
	background: #d6d6d6;
	border: solid 2px #a9a9a9;
	padding: 1em;
	border-radius: 8px;
}
