#course_search_fields_span span {
	line-height: 2.5em;
}
#course_search_functions_div input[type='text'] {
    border: solid 1px #969696;
    padding:4px;
    width: 200px;
}
#course_search_params_span {
	margin-left: 5.5em;
	display:block;
}











#saved_courses_detail_div {
    line-height: 1.5em;
}
#saved_courses_detail_div ul,
#saved_courses_detail_div ul li,
#saved_courses_detail_div ul li dl,
#saved_courses_detail_div ul li dl dd {
    margin: 0;
    padding: 0;
}

#saved_courses_detail_div .kr-section-subhead {
    font-size: 125%;
    font-weight: normal;
    margin-bottom: 1em;
}
#saved_courses_detail_div ul li {
    border-top: dotted 1px #aaaaaa;
    padding:10px;
    display:block;
}
#saved_courses_detail_div ul li dl,
#saved_courses_detail_div ul li dl dd {
    display:inline;
}
#saved_courses_detail_div ul li dl dd:after {
    content: ",";
    margin-right: 0.33em;
}
#saved_courses_detail_div ul li dl dd:last-child:after {
    content: "";
    margin-right: 0;
}
#saved_courses_detail_div ul li .courseQuarterScheduled dl dd {
    background: #ccc;
    color: #333;
    border-radius: 3px;
    margin: 0 0.5em 0 0;
    font-weight: bold;
    font-size: 80%;
    padding: 4px;
    clear: none;
}
#saved_courses_detail_div ul li .courseQuarterScheduled dl dd:after {
    content: "";
}