/*

gray border = #e1e1e0
blue block item hover = #e3f0fe;

*/

::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}

:-moz-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {
    color: #ccc;
}

/* OVERWRITE KRAD STYLES */
input[type="text"], input[type="password"], textarea, select {
    padding: 3px;
    border-color: #bebebe;
    margin: 0;
}

.uif-pageValidationMessages, .ksap-validationMessages {
    border: solid 1px transparent;
    background: none;
    line-height: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 1px 1px 1px #ffffff;
    padding: 10px;
    margin: 0 0 10px 0;
}

.uif-pageValidationMessages h3, .ksap-validationMessages h3 {
    display: none;
}

.uif-pageValidationMessages ul, .ksap-validationMessages ul,
.uif-pageValidationMessages ul li, .ksap-validationMessages ul li {
    display: block;
    list-style: none;
}

.uif-pageValidationMessages ul li:before, .ksap-validationMessages ul li:before {
    content: '';
}

.uif-pageValidationMessages ul, .ksap-validationMessages ul {
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    margin: 0;
}

.uif-pageValidationMessages-warning, .ksap-validationMessages-warning {
    color: #000;
    border-color: #feea49;
    background-color: #faf5ca;
}

.uif-pageValidationMessages-warning ul, .ksap-validationMessages-warning ul {
    background-image: url('../icons/16/warning.png');
}

.uif-pageValidationMessages-error, .ksap-validationMessages-error {
    color: #cc0000;
    border-color: #fcd5e4;
    background-color: #fce9f1;
}

.uif-pageValidationMessages-error ul, .ksap-validationMessages-error ul {
    background-image: url('../icons/16/cancel.png');
}

.uif-pageValidationMessages ul li, .ksap-validationMessages ul li {
    margin: 1em 0 0 0;
}

.uif-pageValidationMessages ul li:first-child, .ksap-validationMessages ul li:first-child {
    margin: 0;
}

.uif-stackedCollectionLayout {
    background-image: none;
    padding: 0;
}

.uif-stackedCollectionLayout .uif-stackedCollectionLayout {
    background-image: none;
}

.uif-stackedCollectionLayout > .uif-collectionItem {
    margin: 10px 0 0 0;
    padding: 0;
    background-color: transparent;
}

.uif-stackedCollectionLayout > .uif-collectionItem:first-child {
    margin: 0;
}

a.inlineBlock {
    display: inline;
    white-space: normal;
}

.uif-inputField .uif-message.counter {
    font-size: 80%;
    font-style: italic;
    color: #aaa;
    line-height: 12px;
    text-align: right;
    display: block;
    width: 97%;
    margin-left: 8px;
}

/* KSAP CLASSES */
.ksap-defaultPadding {
    padding: 10px;
}

.ksap-defaultMargin {
    margin: 10px;
}

.ksap-defaultRadius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ksap-solidBorder {
    border: solid 1px #e1e1e0;
}

.ksap-dottedBorder {
    border: dotted 1px #e1e1e0;
}

.ksap-dashedBorder {
    border: dashed 1px #e1e1e0;
}

.ksap-noMargin,
.uif-inputField.ksap-noMargin,
.uif-page {
    margin: 0;
}

.ksap-noPadding {
    padding: 0;
}

.ksap-noRadius {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ksap-noBorder {
    border: none;
}

.ksap-noTopBorder {
    border-top: none;
}

.ksap-noBottomBorder {
    border-bottom: none;
}

.ksap-noLeftBorder {
    border-left: none;
}

.ksap-noRightBorder {
    border-right: none;
}

.ksap-minHeight {
    min-height: 18px;
}

.ksap-scrollableGroup {
    overflow: auto;
    padding: 20px;
}

/* TEXT STYLES */
.uif-viewHeader .uif-headerText-span {
    color: #39275b;
}

.ksap-text-normal, .ksap-text-normal label {
    font-weight: 500 !important;
}

.ksap-text-bold {
    font-weight: 700 !important;
}

.ksap-text-gray {
    color: #777 !important;
}

.ksap-text-darygray {
    color: #666 !important;
}

.ksap-text-uppercase {
    text-transform: uppercase !important;
}

.ksap-text-inline {
    display: inline !important;
    float: none !important;
    margin: 0;
}

/* KSAP RIGHT GUTTER MODULES */
.ksap-moduleContainer {
    border: solid 1px #e1e1e0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ksap-moduleContainer .blockElement {
    left: auto !important;
    top: 1px !important;
    right: 0px !important;
    border: none;
    width: 16px;
    background: transparent;
}

.ksap-moduleContainer > .uif-header-contentWrapper > .uif-header {
    padding: 8px 10px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #efefef, #d5d5d5);
    background-image: -moz-linear-gradient(top, #efefef, #d5d5d5);
    background-image: -ms-linear-gradient(top, #efefef, #d5d5d5);
    background-image: -o-linear-gradient(top, #efefef, #d5d5d5);
    background-image: linear-gradient(top, #efefef, #d5d5d5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#efefef', endColorstr='#d5d5d5')";
}

.ksap-moduleContainer > .uif-header-contentWrapper > .uif-header > .uif-headerText {
    text-transform: uppercase;
    vertical-align: middle;
    color: #000;
    font-size: 1.15em;
    text-shadow: 0px 1px 0px #efefef;
}

.ksap-module {
    margin: 0;
    min-height: 18px;
}

.ksap-module > .uif-header-contentWrapper > .uif-header {
    border-top: solid 1px #e1e1e0;
    border-bottom: solid 1px #e1e1e0;
    padding: 3px 10px;

    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#efefef));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
    background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
    background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
    background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
    background-image: linear-gradient(top, #f7f7f7, #efefef);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f7f7f7', endColorstr='#efefef')";
}

.ksap-module > .uif-header-contentWrapper > .uif-header > .uif-headerText {
    display: inline;
    vertical-align: middle;
}

.ksap-module .uif-header-rightGroup {
    position: relative;
    right: auto;
    top: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.ksap-module .uif-header-lowerGroup {
    border-bottom: solid 1px #e1e1e0;
}

.ksap-module .uif-instructionalMessage {
    margin: 0;
}

.ksap-module .ksap-emptyCollection {
    display: block;
    text-align: center;
    padding: 1em;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem {
    cursor: pointer;
    padding: 5px;
    border-top: dotted 1px #e1e1e0;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem:first-child {
    border-top: none;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem:hover {
    background-color: #e3f0fe;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem label {
    font-weight: normal;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem .uif-instructionalMessage.view {
    display: none;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem.viewing .uif-instructionalMessage.view {
    display: block;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem.pending:hover {
    background-color: transparent;
    cursor: default;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem.pending .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem.pending .title {
    vertical-align: middle;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 177px;
}

.ksap-module .uif-stackedCollectionLayout .uif-collectionItem.pending .program {
    color: #333;
}

.ksap-module .uif-footer {
    border-top: dotted 1px #e1e1e0;
    padding: 3px 10px 10px 10px;
    margin: 0;
}

.ksap-timestampBadge {
    text-align: center;
    background-color: #efefef;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 0 0;
}

.uif-collectionItem.viewing .ksap-timestampBadge {
    background-color: #fbf1cd;
}

.ksap-timestampBadge .month,
.ksap-timestampBadge .time,
.ksap-auditData .ksap-bottomLabel,
.ksap-auditDataGroup .uif-instructionalMessage {
    font-size: 0.7em;
}

.ksap-timestampBadge .month {
    text-transform: uppercase;
}

.ksap-timestampBadge .date {
    font-size: 1.8em;
}

.ksap-auditData {
    text-align: center;
}

.ksap-auditData .uif-readOnlyContent,
.ksap-auditData .ksap-bottomLabel {
    display: block;
    clear: both;
}

.ksap-auditData .uif-readOnlyContent {
    font-size: 1.3em;
}

.ksap-auditDataGroup .uif-instructionalMessage {
    text-transform: uppercase;
}

.ksap-auditData .ksap-bottomLabel {
    text-transform: uppercase;
}

/* KSAP AUDIT HAND OFF VIEW */
.ksap-auditHandOff {
    overflow: hidden;
}

.ksap-auditHandOff .uif-stackedCollectionLayout {
    padding: 10px;
}

.ksap-auditHandOff .uif-stackedCollectionLayout > .uif-collectionItem {
    margin: 20px 0 0 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: dotted 1px #e1e1e0;
    padding: 10px 15px;
    background-color: #fff;
}

.ksap-auditHandOff .uif-stackedCollectionLayout > .uif-collectionItem:first-child {
    margin: 0;
}

.ksap-auditHandOff .uif-stackedCollectionLayout .uif-stackedCollectionLayout {
    padding: 0;
}

.ksap-auditHandOff .uif-stackedCollectionLayout .uif-stackedCollectionLayout > .uif-collectionItem {
    margin: 10px 0 0 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
    padding: 0;
}

.ksap-auditHandOff .uif-subCollection.uif-boxLayoutVerticalItem {
    margin: 0;
}

.ksap-messageGroup {
    border: solid 1px transparent;
    background: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 36px;
    margin: 0 0 10px 0;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.ksap-messageGroupMin {
    background-image: none !important;
    padding: 10px;
}

.ksap-messageGroup .uif-image.icon {
    width: 16px;
    height: 16px;
}

.ksap-messageGroup-warning {
    color: #000;
    border-color: #feea49;
    background-color: #faf5ca;
    background-image: url('../icons/16/warning.png');
}

.ksap-messageGroup-error {
    color: #cc0000;
    border-color: #fcd5e4;
    background-color: #fce9f1;
    background-image: url('../icons/16/delete.png');
}

.ksap-messageGroup-error .icon {
    background: url('../icons/16/delete.png') no-repeat;
}

.ksap-messageGroup .uif-header .uif-headerText {
    text-transform: uppercase;
    font-weight: 700;
}

.ksap-messageGroup .uif-stackedCollectionLayout .uif-header .uif-headerText {
    font-weight: 500;
}

.ksap-messageGroup .uif-stackedCollectionLayout {
    padding: 10px 0;
    max-height: none;
    overflow: inherit;
    border: none;
}

.ksap-auditHandOff .uif-stackedCollectionLayout > .uif-collectionItem {
    margin-top: 10px;
}

/* HOVER JQUERY UI TOOLTIP */
.ui-tooltip {
    background: #666;
    color: white;
    font-size: 11px !important;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}

.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent #666;
    border-width: 10px 0 10px 10px;
}

.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 10px 10px 0;
}

.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 0 10px 10px;
}

.topleft .ui-tooltip-content::after {
    bottom: -10px;
    left: 10px;
    border-color: #666 transparent;
    border-width: 10px 10px 0;
}

.topright .ui-tooltip-content::after {
    bottom: -10px;
    right: 10px;
    border-color: #666 transparent;
    border-width: 10px 10px 0;
}