
<div>
<h1>${report.webTitle}</h1>



<table class="audit-summary">
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td class="date-prepared">
						<label>Date Prepared:</label> ${report.datePrepared}
					</td>
				</tr>
				<tr>
					<td class="program-entry-date">
						<label>Program Entry Date:</label> ${report.entryDateProgram}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<p>
THIS REPORT IS AN ADVISING TOOL USED TO TRACK DEGREE PROGRESS. FINAL CONFIRMATION OF DEGREE
REQUIREMENTS IS SUBJECT TO DEPARTMENT OR COLLEGE AND UNIVERSITY APPROVAL.
</p>

#if( !${report.complete} )
<div class="audit-incomplete">
NOTE: At least one requirement still incomplete.
</div>
#end

<div class="control-toolbar">
	<label for="requirement_status">Show</label>
	<select id="requirement_status" name="requirement_status">
		<option value="all">All Requirements</option>
		<option value="N">Incomplete Only</option>
		<option value="I">In-Progress Only</option>
		<option value="C">Complete Only</option>
	</select>
</div>


#set( $courseAcceptableCounter = 0 )

#foreach( $advisory in $report.advisoryList )
<div class="requirement-advisory">
${advisory}
</div>
#end

#foreach( $section in $report.sectionList )
#if( ${section.hasCaption()} )
<div class="requirement-group">
	<div class="group-heading">
		<h3>${section.caption}</h3>
		<a href="#jump" class="jump">Jump to the next section</a>
		<a href="#top" class="back">Back to top</a>
	</div>
#foreach( $req in $section.requirementList )
	<div class="requirement ${req.status}">
		<div class="requirement-heading">
			<div class="${req.status}">
                <h4>${req.caption}</h4>
			</div>
		</div>
		<div class="requirement-body">
		    <div class="requirement-content">
                <div class="requirement-info">
#if( ${req.hasInfo()} )
	    			<p>${req.info}</p>
#end
                </div>


#if( ${req.getShowTotal()} )
#if( ${req.hasCredits()} )
                <ul class="progress">
                    <li class="required"><label>Credits required:</label> ${req.credits.required}</li>
                    <li class="earned"><label>earned:</label> ${req.credits.earned}</li>
                    <li class="inprogress"><label>in-progress:</label> ${req.credits.inprogress}</li>
                    <li class="needs"><label>needs:</label> ${req.credits.needs}</li>
                </ul>
#end
#if( ${req.hasGPA()} )
                <ul class="progress">
                    <li class="earned"><label>Earned:</label> ${req.gpa.earned} GPA</li>
                </ul>
#end
#if( ${req.hasCount()} )
                <ul class="progress">
                    <li class="required"><label>Courses required:</label> ${req.count.required}</li>
                    <li class="earned"><label>earned:</label> ${req.count.earned}</li>
                    <li class="needs"><label>needs:</label> ${req.count.needs}</li>
                </ul>
#end
#end
            </div>
##if( ${req.notComplete()} )
#foreach( $subreq in $req.subrequirementList ) ## subreq
            <div class="subrequirement">
                <div class="subrequirement-heading">
                    <div class="${subreq.status}">
#if( ${subreq.hasCaption()} )
                        <h5>${subreq.caption}</h5>
#end
                    </div>
                </div>
                <div class="subrequirement-content">
#if( ${subreq.hasInfo()} )
                    <div class="subrequirement-info">
		    	    	<p>${req.info}</p>
		    	    </div>
#end
#if( ${subreq.hasCredits()} )
                    <ul class="progress">
                        <li class="required"><label>Credits required:</label> ${subreq.credits.required}</li>
                        <li class="earned"><label>earned:</label> ${subreq.credits.earned}</li>
                        <li class="inprogress"><label>in-progress:</label> ${subreq.credits.inprogress}</li>
                        <li class="needs"><label>needs:</label> ${subreq.credits.needs}</li>
                    </ul>
#end
#if( ${subreq.hasGPA()} )
                    <ul class="progress">
                        <li class="required"><label>GPA required:</label> ${subreq.gpa.required}</li>
                        <li class="earned"><label>earned:</label>${subreq.gpa.earned}</li>
                    </ul>
#end
#if( ${subreq.hasCount()} )
                    <ul class="progress">
                        <li class="required"><label>Courses required:</label> ${subreq.count.required}</li>
                        <li class="earned"><label>earned:</label> ${subreq.count.earned}</li>
                        <li class="needs"><label>needs:</label> ${subreq.count.needs}</li>
                    </ul>
#end

#if( ${subreq.hasCourseAcceptableList()} )
#set( $courseAcceptableCounter = $courseAcceptableCounter + 1 )
                    <div id="subreq_${courseAcceptableCounter}_div" class="subrequirement-courses-acceptable">
                        <h6>Courses fulfill this requirement</h6>
                        <table>
                            <tbody>
#foreach( $acceptable in $subreq.courseAcceptableList )

#if( ${acceptable.hasCluid()} )
                                <tr>
                                    <td><a href="#" onclick="openCourse('${acceptable.cluid}',event,false);"#">${acceptable.dept} ${acceptable.number} ${acceptable.description}</a></td>
                                </tr>
#else
                                <tr>
                                    <td>${acceptable.dept} ${acceptable.number} ${acceptable.description}</td><td>${acceptable.quarter}</td>
                                </tr>
#end

#end
                            </tbody>
                        </table>
                    </div>
#end
#if( ${subreq.hasCourseTakenList()} )
                    <div class="subrequirement-courses-taken">
                        <table>
                            <thead>
                                <tr>
                                    <th>Qtr</th><th>Course Name</th><th>Credits</th><th>Grade</th>
                                </tr>
                            </thead>
                            <tbody>
#foreach( $taken in $subreq.courseTakenList )
                                <tr>
#if( ${taken.hasCluid()} )
                                    <td>${taken.quarter}</td><td><a href="#" onclick="openCourse('${taken.cluid}',event,true);">${taken.dept} ${taken.number} ${taken.description}</a></td>
#if( ${taken.inProgress} )
                                    <td>In Progress</td><td></td>
#else
                                    <td>${taken.credits}</td><td>${taken.grade}</td>
#end ## if inprogress
#else
                                    <td>${taken.quarter}</td><td>${taken.dept} ${taken.number} ${taken.description}</td><td>${taken.credits}</td>
                                    #if(${taken.inProgress})
                                    <td>IP</td>
                                    #else
                                    <td>${taken.grade}</td>
                                    #end
#end ## if hasCluid
                                </tr>
#end ## foreach taken
                            </tbody>
                        </table>
                    </div>
#end
                </div>
            </div>
#end ## subreq


##end ## notComplete
        </div>

	</div> <!-- end requirement-body -->


#end ## foreach req
</div>
#end ## if section.hasCaption
#end ## foreach section
</div>