.registrationForm__course {
    margin: @marginDefault 0 0 0;

    &:first-child {
        margin: 0;
    }
}
.registrationForm__courseTitle {
    border-bottom: @dottedBorderStyle;
    padding: 0 0 @paddingMini 0;
    margin: @marginSmall 0 0 0;
}
.registrationForm__note {
    color: @red;
    font-style: italic;
    margin: @marginLarge 0 @marginDefault 0;
}
.registrationForm__footer {
    margin: @marginLarge 0 0 0;
    padding: @paddingLarge 0 0 0;
    border-top: @baseBorderStyle;
}