.courseDetails__header {
    border-bottom: solid 2px #f2e4b7;
    position: relative;
    margin: @marginLarge 0;
}

.courseDetails__header h3 {
    .bold();
    line-height: 1.25em;
}

.courseDetails__headerGroup--right {
    .rightGroup();
    color: @textColorLight;
}

