.courseSearch__query {
    background: @searchPanelBackground;
    border: @baseBorderStyle;
    padding: @paddingLarge;
    .border-radius(@baseBorderRadius);
}

.courseSearch__label {
    margin: 0 @marginSmall 0 0;
    vertical-align: middle;
}

input.courseSearch__input {
    margin: 0 @paddingMini 0 0;
    vertical-align: middle;
}

.courseSearch__fieldset label {
    .normal();
    vertical-align: middle;
    margin: 0 @marginLarge 0 0;
}