.scheduleBuilder__termHeader {
    font-size: @fontSizeExtraLarge;
    text-transform: uppercase;
    padding: @paddingDefault;
    .border-radius(@baseBorderRadius @baseBorderRadius 0 0);
    border-width: 1px;
    border-style: solid;
    #gradient > .vertical(#5c428e, #3b295f);
    border-color: #432f69;
    color: #f9f7f7;
    text-shadow: 0px 1px 0px #000;
}

.scheduleBuilder__placeholder {
    min-height: 300px;
    border: @baseBorderStyle;
    border-top: none;
    margin: 0 !important;
}

.scheduleBuilder__tba {
    border: @baseBorderStyle;
    margin: 0 !important;

    .scheduleBuilder__tbaHeader {
        text-transform: uppercase;
        font-size: @fontSizeMini;
        background: @baseBorderColor;
        padding: @paddingMini @paddingDefault;
    }

    .scheduleBuilder__tbaContainer {
        padding: 2px 2px 2px 0;
        overflow: auto;

        .uif-stackedCollectionGroup.uif-boxLayoutHorizontalItem,
        .uif-stackedCollectionLayout {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }

    .scheduleBuilder__tbaItem {
        float: left;
        cursor: pointer;
        position: relative;
        color: @white;
        height: @fontSizeLarge;
        line-height: @fontSizeLarge;
        width: 167px;
        padding: @paddingDefault;
        margin-left: 2px;
        /* background: #5a5a5a; */
        .border-radius(0 @baseBorderRadius @baseBorderRadius 0);

        .scheduleBuilder__tbaItemIndex {
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
            font-size: @fontSizeExtraLarge;
        }
    }
}
