.scheduleCalendar {
    & .fc-widget-header,
    & .fc-widget-content {
        border: none;
    }

    & table.fc-agenda-days {
        border: @baseBorderStyle;
        border-top: none;
    }

    & table.fc-agenda-days thead .fc-widget-header {
        background-color: @baseBorderColor;
        text-transform: uppercase;
        .normal();
        font-size: @fontSizeMini;
        vertical-align: middle;
        height: @fontSizeMax;
    }

    & table.fc-agenda-days tbody .fc-widget-content {
        border-right: @baseBorderStyle;
        border-right-color: #aeaeae;

        &.fc-last {
            border: none;
        }
    }

    & table.fc-agenda-slots {
        & .fc-agenda-axis {
            border: none;
            border-right: @baseBorderStyle;
            font-size: @fontSizeLarge;
            line-height: @fontSizeLarge;
            color: @grayLight;
            vertical-align: top;
        }

        & .fc-widget-content {
            border-top: @dottedBorderStyle;
        }

        & tr:first-child .fc-widget-content {
            border: none;
        }

        & .fc-minor .fc-widget-content {
            border: none;
        }

        & td div {
            height: 35px;
        }
    }

    .fc-event {
        .border-radius(0 0 @baseBorderRadius @baseBorderRadius) !important;
        border: none !important;
        cursor: pointer;
        margin-right: 2px !important;

        & > .fc-event-bg {
            opacity: 0 !important;
            background: none !important;
        }

        & > .fc-event-inner > .fc-event-time {
            display: none;
        }

        & > .fc-event-inner > .fc-event-title {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: @fontSizeExtraLarge;
            margin: @marginSmall 0 0 @marginSmall;
        }

        &:hover {
            background-color: #ccecff;
        }
    }

    .fc-state-highlight{
        background: none !important;
    }
}

.scheduleCalendar--orange,
.fc-event.scheduleCalendar--orange {
    background-color: #d55e00;

    &.schedulePossible__option--active:hover {
        background-color: #d55e00;
    }

    .schedulePossible__details:hover {
        color: #d55e00;
    }
}
.scheduleCalendar--gold,
.fc-event.scheduleCalendar--gold {
    background-color: #e69f00;

    &.schedulePossible__option--active:hover {
        background-color: #e69f00;
    }

    .schedulePossible__details:hover {
        color: #e69f00;
    }
}
.scheduleCalendar--pink,
.fc-event.scheduleCalendar--pink {
    background-color: #cc79a7;

    &.schedulePossible__option--active:hover {
        background-color: #cc79a7;
    }

    .schedulePossible__details:hover {
        color: #cc79a7;
    }
}
.scheduleCalendar--blue,
.fc-event.scheduleCalendar--blue {
    background-color: #56b4e9;

    &.schedulePossible__option--active:hover {
        background-color: #56b4e9;
    }

    .schedulePossible__details:hover {
        color: #56b4e9;
    }
}
.scheduleCalendar--green,
.fc-event.scheduleCalendar--green {
    background-color: #009e73;

    &.schedulePossible__option--active:hover {
        background-color: #009e73;
    }

    .schedulePossible__details:hover {
        color: #009e73;
    }
}

.scheduleCalendar--saved,
.fc-event.scheduleCalendar--saved {
    background-color: #5c428e;
}

.scheduleCalendar--registered,
.fc-event.scheduleCalendar--registered {
    background: #ccc url('../images/sb/icon_lock.png') no-repeat 3px 7px;

    &.scheduleBuilder__tbaItem {
        background: #ccc;
    }
}

.scheduleCalendar--highlight,
.fc-event.scheduleCalendar--highlight {
    background-color: #ccecff !important;
    color: #333366 !important;
    border: dotted 1px #6699cc !important;
}
