.schedulePossible__header {
    overflow: auto;

    & .schedulePossible__headerText {
        float: left;
    }

    & .schedulePossible__headerGroup--right {
        float: right;
        color: @grayLight;
        font-size: @fontSizeMini;
        position: relative;
        top: 10px;
    }
}

.schedulePossible__carouselButton {
    display: block;
    .border-radius(@baseBorderRadius);
    border: solid 1px #06c;
    color: #06c;
    margin: 0;
    width: 68px;
    float: left;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    &.disabled {
        border-color: #ccc;
        background-color: #f2f2f2;
        color: #bcbcbc;
        cursor: default;
    }
}

.schedulePossible__carousel {
    width: 800px;
    margin: 0 @marginSmall;
    overflow: hidden;
    & ul {
        width: 100000em;
        margin: 0 !important;
        padding: 0;
        list-style: none;
    }

    & li {
        margin: 0 @marginSmall;
        padding: 0;
        list-style: none;
        float: left;
    }
}

.schedulePossible__option {
    .border-radius(@baseBorderRadius);
    color: @white;
    padding: @paddingMini;
    width: 150 - (@paddingMini * 2);

    & .schedulePossible__index {
        font-size: @fontSizeMax;
        float: right;
        margin: 0 4px 2px 0;
    }

    & .schedulePossible__courseCode {
        .bold();
    }

    & .schedulePossible__save {

    }
}

.scheduleCalendar {
    .schedulePossible__event {
        .border-radius(0 0 @baseBorderRadius @baseBorderRadius) !important;
        border: none !important;

        & > .fc-event-bg {
            opacity: 0 !important;
            background: none !important;
        }

        & > .fc-event-inner > .fc-event-time {
            display: none;
        }

        & > .fc-event-inner > .fc-event-title {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}

.schedulePossible--0 {
    background-color: #d55e00 !important;
}
.schedulePossible--1 {
    background-color: #e69f00 !important;
}
.schedulePossible--2 {
    background-color: #cc79a7 !important;
}
.schedulePossible--3 {
    background-color: #56b4e9 !important;
}
.schedulePossible--4 {
    background-color: #009e73 !important;
}
