.scheduleReserved__item {

    & .scheduleReserved__actions {

    }
}

.scheduleCalendar {
   & .scheduleReserved__event {
       background-color: @gray;
       opacity: 0.25;
       border: none;

       &.fc-event-start,
       &.fc-event-end {
           .border-radius(0px);
       }

       & .fc-event-inner,
       & .fc-event-bg {
           display: none;
       }
   }
}
