.scheduleSave__details {
    td.meetingLocation,
    td.registrationCode {
        display: table-cell !important;
    }

    td.activityAction {
        display: none !important;
    }
}

.scheduleSaved__index {
    width: 16px;
}

.scheduleSaved__courses {
    width: 206px;
}

.scheduleSaved__remove {
    width: 16px;
}