.myplan-audit-report h1 {
    color: #fff;
    text-transform: uppercase;
    background: #39275b;
    padding: 15px;
    font-size: 1.3846em;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.myplan-audit-report .audit-summary {
    background: #dddddd;
    border-radius:  0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    padding: 10px 15px;
    overflow: auto;
}
.myplan-audit-report .audit-summary .date-prepared,
.myplan-audit-report .audit-summary .prepared-for,
.myplan-audit-report .audit-summary .program-entry-qtr,
.myplan-audit-report .audit-summary .graduation-date {
    float: left;
    width: 50%;
}
.myplan-audit-report .control-toolbar {
	padding: 10px;
	background: #fcf9f1;
	border: solid 1px #e4e3e3;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 20px 0;
}
.myplan-audit-report .control-toolbar label {
    font-weight: normal;
    margin: 0 7px 0 0;
}
.myplan-audit-report .section {
	margin: 20px 0 0 0;
}

.myplan-audit-report .section .heading {
    font-family: "museo-sans", Arial, Helvetica, Verdana, sans-serif;
    font-size: 1.1538em !important;
	background: #dddddd;
	border: solid 1px #e6e6e6;
	padding: 10px;
	margin: 0 0 20px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.myplan-audit-report .section .requirement {
	margin: 0 10px 5px 10px;
	clear: both;
	border-top: dotted 1px #e4e3e3;
	padding: 10px;
	background: -webkit-gradient(linear, left top, 0 55, from(#fcf9f1), to(#fff));
	overflow: auto;
	height: auto;
}
/*
.myplan-audit-report .section .requirement.collapsed {
	overflow: hidden;
	height: 1.75em;
}
.myplan-audit-report .section .requirement.expanded {
	overflow: auto;
	height: auto;
}
*/
.myplan-audit-report .requirement .header {
	line-height: 1.75em;
	overflow: auto;
}
.myplan-audit-report .requirement .header .toggle {
	background: url('../images/myplan_icon_sprites.png') no-repeat -1000px -1000px;
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px 10px 0 0;
	cursor: pointer;
}
.myplan-audit-report .requirement.expanded .header .toggle {
    background-position: 0px -16px;
}
.myplan-audit-report .requirement.expanded .header .toggle:hover {
    background-position: -16px -16px;
}
.myplan-audit-report .requirement.collapsed .header .toggle {
    background-position: 0px -32px;
}
.myplan-audit-report .requirement.collapsed .header .toggle:hover {
    background-position: -16px -32px;
}
.myplan-audit-report .requirement .header .title {
	float: left;
	width: 585px;
	text-overflow: ellipsis;
	cursor: pointer;
}
/*
.myplan-audit-report .requirement.collapsed .header .title {
	white-space: nowrap;
	overflow: hidden;
}
.myplan-audit-report .requirement.expanded .header .title {
	overflow: auto;
	white-space: normal;
}
*/
.myplan-audit-report .requirement .totals {
	clear: both;
	margin: 2em 0px 0px 65px;
}
.myplan-audit-report .requirement .header .Status_NO,
.myplan-audit-report .requirement .header .Status_IP,
.myplan-audit-report .requirement .header .Status_OK,
.myplan-audit-report .requirement .header .Status_NONE {
	color: #fff;
	font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
	width: 28px;
	text-align: center;
	float: left;
	text-transform: uppercase;
	line-height: 13px;
    height: 13px;
	margin: 3px 10px 0 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px transparent;
}


.myplan-audit-report .requirement .header .Status_NO {
	background-color: #990000;
	border-color: #b76066;
}

.myplan-audit-report .requirement .header .Status_IP {
	background-color: #a55d00;
	border-color: #c99e66;
}

.myplan-audit-report .requirement .header .Status_OK {
	background-color: #4a7c01;
	border-color: #92b067;
}

.myplan-audit-report .requirement .header .Status_NONE {
	background-color: transparent;
	display: none;
}

.myplan-audit-report .requirement .needs {

}

.myplan-audit-report .requirement .subrequirement {
	clear: both;
	margin: 2em 0px 0px 65px;
}
.myplan-audit-report .requirement .subrequirement .totals {
	margin: 1em 0 0 0;
}
.myplan-audit-report .requirement .subrequirement table.taken {
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	margin: 1em 0 0 1em;
	border-collapse:collapse;
}
.myplan-audit-report .requirement .subrequirement .taken th,
.myplan-audit-report .requirement .subrequirement .taken td {
	font-size: 12px;
	padding: 0 1.5em 0 0;
	line-height: 1.75em;
}
.myplan-audit-report .requirement .subrequirement .taken th {
	font-size: 10px;
	color: #777;
	text-align: left;
	line-height: 1.5em;
	border-bottom: solid 1px #ddd;
}
.myplan-audit-report .requirement .subrequirement .taken thead tr {

}

.myplan-audit-report .section.rname_WHAT-IF .heading{
    border: none;
    margin: 0;
    padding: 0px;
    background: transparent;
    font-size: 1em !important;
    height: 20px;
}

.myplan-audit-report .section.rname_LINE1 .heading {
    border: none;
    margin: 0;
    padding: 0px;
    background: transparent !important;
    font-size: 1em !important;
    height: 20px;
}


