#course_search_panel_div,
#course_search_result_panel_div {
	width:700px;
    margin-right: 20px;
}
#courseSearchView_div button.button-primary {
	background-image: -moz-linear-gradient(top, #8bcefd, #007dd6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8bcefd), color-stop(1, #007dd6));
    background-image: -o-linear-gradient(top,rgba(139,206,253,1),rgba(0,125,214,1));    /* be nice to Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8bcefd, endColorstr=#007dd6);  /* IE7 and older */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8bcefd, EndColorStr=#007dd6);  /*IE8 */
    background: linear-gradient(top, rgba(139,206,253,1) 0%, rgba(0,125,214,1) 100%);  /* for the future */
	background-color:#007dd6;
	color: #fff;
	text-shadow: none;
	border: solid 1px #969696;
	padding: 5px 20px;
    margin: 0;
    border-radius: 4px;
    line-height: 1em;
}

#course_search_functions_div {
	background: #d6d6d6;
	border: solid 2px #a9a9a9;
	padding: 10px 0 0 10px;
	border-radius: 8px;
}
#course_search_fields_span span {
	line-height: 2.4em;
}
#course_search_functions_div input[type='text'] {
    border: solid 1px #969696;
    padding:4px;
    width: 200px;
}

#course_search_functions_div select {

}

#course_search_params_span {
	margin-left: 5.5em;
	display:block;
}
#course_search_result_facets_div {
	border-bottom: solid 1px #a9a9a9;
    border-left: solid 1px #a9a9a9;
    border-right: solid 1px #a9a9a9;
    font-size: 90%;
    width:118px;
}
#course_search_result_facets_div table, #course_search_result_facets_div .boxLayoutVerticalItem, #course_search_result_facets_div table th, #course_search_result_facets_div table td {
    margin: 0;
    padding: 0;
}
#course_search_result_facets_div .facets>div[id$='_group'] {
    padding: 0;
}
#course_search_result_facets_div .facets>div[id$='_group'] span.fieldLine span.all {
	border-top: solid 1px #a9a9a9;
	display: block;
}
#course_search_result_facets_div .facets>div[id$='_group'] div[id$='_div'] {
	max-height: 133px;
	overflow-y: auto;
}
#course_search_result_facets_div .facets>div[id$='_group'] div[id$='_div'] div[id$='_group'] {
	overflow:hidden;
}


/* beginning of scrollbar */
::-webkit-scrollbar{
        width:8px;
        height:8px;}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{
        display:block;
        height:0;
        background-color:transparent;}

::-webkit-scrollbar-track {
		margin: 3px;}

::-webkit-scrollbar-track-piece{
        background-color:#eee;
        -webkit-border-radius:8px;}

::-webkit-scrollbar-thumb:vertical{
        height:50px;background-color:#999;
        -webkit-border-radius:8px;}

::-webkit-scrollbar-thumb:horizontal{
        width:50px;background-color:#999;
        -webkit-border-radius:8px;}
/* end of scrollbar */





#course_search_result_facets_div .section-subhead,  #course_search_result_facets_group .facetHeader label {
	display:block;
	font-weight: normal;
	background: #cccccc;
	border-top: solid 1px #a9a9a9;
	padding:5px;
}
#course_search_result_facets_div .facets .section-subhead {
	background: #e9e9e9;
	font-weight:bold;
    display:block;
}
#course_search_result_facets_div img.expand_collapse-buttons {
    float: right;
    background: url('/myplan-embedded-dev/ks-myplan/images/facetExpandCollapse.png') no-repeat 0px 0px;
}
#course_search_result_facets_div img.expand_collapse-buttons[alt="expand"] {
    background-position: 0px 0px;
}
#course_search_result_facets_div img.expand_collapse-buttons[alt="collapse"] {
    background-position: 0px -14px;
}
#course_search_result_facets_div .facets a.item {
    padding: 0 0 0 21px;
    background: url('/myplan-embedded-dev/ks-myplan/images/facetCheckbox.png') no-repeat 0px 0px;
    min-height: 16px;
    line-height: 16px;
    display: block;
    margin: 3px;
}
#course_search_result_facets_div .facets a.item.checked {
    background-position: 0px -32px;
}
#course_search_results_div {
	margin:0;
}
#course_search_results_list_items_group {
	width: 570px;
}
table.display {
    width: 100%;
}
.dataTables_wrapper {

}
.dataTables_wrapper .dataTables_info {
    float: none;
    font-size: 150%;
    line-height: 150%;
    width: 100%;
}
.dataTables_wrapper .dataTables_length {
    float: right;
    text-align: right;
    width: 100%;
    clear: both;
}
.dataTables_wrapper table {
    border: solid 1px #a9a9a9;
}
.dataTables_wrapper table th, .dataTables_wrapper table td {
    vertical-align: middle;
}
.dataTables_wrapper table thead tr {
	background: #d6d6d6;
}
.dataTables_wrapper table thead tr th {
    border: none;
}
.dataTables_wrapper table thead tr th label {
    font-weight: bold;
    color: #5f5e5f;
    font-size: 88%;
}
.dataTables_wrapper table tbody tr td {
	line-height:1.8em;
    height:1.8em;
}
.dataTables_wrapper table tbody tr td.courseCode span.courseCode {
    font-weight: bold;
    white-space: nowrap;
}
.dataTables_wrapper table tbody tr td.courseName span.courseName a {
	display: block;
    line-height: 1.8em;
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.dataTables_wrapper .odd, .dataTables_wrapper .odd .sorting_1 {
    background-color: #fff;
}
.dataTables_wrapper .even, .dataTables_wrapper .even .sorting_1 {
    background-color: #f1f1f1;
}
.dataTables_wrapper .dataTables_paginate .first,
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: none;
	border: none;
}
.dataTables_wrapper .dataTables_paginate .first, .dataTables_wrapper .dataTables_paginate .last {
	display:none;
}