#course_search_instructions_span {
    color: #666;
    margin-bottom: 1em;
    display: block;
    width: 100%;
    white-space: nowrap;
}
/* Styles for left content containers */
#course_search_panel_div,
#course_search_result_panel_div,
#course_details_panel_div,
#course_search_no_results_panel_div {
    width: 720px;
}
/*
#course_search_page_group>div>span>span.clearfix,
#course_search_page_group>div>span>span.clearfix::after,
#course_search_result_page_group>div>span>span.clearfix,
#course_search_result_page_group>div>span>span.clearfix::after,
#course_search_results_panel_group>div>span>span.clearfix,
#course_search_results_panel_group>div>span>span.clearfix::after {
   	clear: none;
}
*/
#course_search_functions_div {
	background: #d6d6d6;
	border: solid 2px #a9a9a9;
	padding: 10px 0 0 10px;
	border-radius: 8px;
    overflow: hidden;
}
#course_search_fields_span span {
	line-height: 2.5em;
}
#course_search_functions_div input[type='text'] {
    border: solid 1px #969696;
    padding:4px;
    width: 200px;
}
#course_search_params_span {
	margin-left: 5.5em;
	display:block;
}

/* Styles for Facet Panel */
#course_search_result_facets_div {
	border-bottom: solid 1px #a9a9a9;
    border-left: solid 1px #a9a9a9;
    border-right: solid 1px #a9a9a9;
    font-size: 90%;
    width: 128px;
    margin-right: 10px;
}
#course_search_result_facets_div a {
    color: #000;
}
#course_search_result_facets_div table,
#course_search_result_facets_div .boxLayoutVerticalItem,
#course_search_result_facets_div table th,
#course_search_result_facets_div table td,
#course_search_result_facets_div .facets>div[id$='_group'] {
    margin: 0;
    padding: 0;
}
#course_search_result_facets_div .facets>div[id$='_group'] span.fieldLine span.all {
	border-top: solid 1px #a9a9a9;
	display: block;
    margin: 0 0 3px 0;
}
#course_search_result_facets_div .facets>div[id$='_group'] div[id$='_div'] {
	max-height: 95px;
	overflow-y: auto;
}
#course_search_result_facets_div .facets>div[id$='_group'] div[id$='_div'] div[id$='_group'] {
	overflow: hidden;
}
#course_search_result_facets_div .kr-section-subhead,
#course_search_result_facets_group .facetHeader label {
	display: block;
	font-weight: normal;
	background: #cccccc;
	border-top: solid 1px #a9a9a9;
	padding: 5px;
}
#course_search_result_facets_div .facets a[id$='_toggle'] {
    text-decoration: none;
}
#course_search_result_facets_div .facets .kr-section-subhead {
	background: #e9e9e9;
	font-weight: bold;
    display: block;
    color: #000;
    white-space: nowrap;
}
#course_search_result_facets_div img.expand_collapse-buttons {
    float: right;
    background: url('../images/facetExpandCollapse.png') no-repeat 0px 0px;
    margin: 0;
}
#course_search_result_facets_div img.expand_collapse-buttons[alt="expand"] {
    background-position: 0px 0px;
}
#course_search_result_facets_div img.expand_collapse-buttons[alt="collapse"] {
    background-position: 0px -14px;
}
#course_search_result_facets_div .facets a.item {
    padding: 0 0 0 21px;
    background: url('../images/facetCheckbox.png') no-repeat 0px 0px;
    min-height: 16px;
    line-height: 16px;
    display: block;
    margin: 0 0 3px 3px;
    cursor: pointer;
    opacity: 1;
}
#course_search_result_facets_div .facets a.item.all {
	margin-top: 3px;
    display: none;
}
#course_search_result_facets_div .facets a.item.checked {
    background-position: 0px -32px;
}
#course_search_result_facets_div .facets a.item.static,
#course_search_result_facets_div .facets a.item.static:hover {
    background-position: 0px -32px;
	cursor: default;
    text-decoration: none;
}
#course_search_result_facets_div .facets a.item span {
    color: #999;
    text-decoration: none;
}
#course_search_result_facets_div .facets a.item.disabled,
#course_search_result_facets_div .facets a.item.disabled:hover {
    text-decoration: none;
    cursor: default;
    opacity: 0.33;
}

/* Styles for course search results */

#course_search_results_panel_group>div>span>span, #course_search_no_results_found_group>div>span>span{
    margin:0;
}
#course_search_results_div {
    width: 578px;
}
#course_search_results_list_items_div .dataTables_info {
    float: none;
    font-size: 150%;
    line-height: 150%;
    width: 100%;
    margin-bottom: 0.25em;
}
#course_search_results_list_items_div .dataTables_length {
    float: right;
    text-align: right;
    width: 100%;
    clear: both;
}
table.datatable {
    width: auto;
}
#course_search_results_list_items_div #course_search_results_datatable {
    border: solid 1px #a9a9a9;
    border-bottom: none;
    width: 100%;
}
#course_search_results_panel_div,
#course_search_no_results_found_div {
    display: none;
}
#course_search_results_list_items_div #course_search_results_datatable th,
#course_search_results_list_items_div #course_search_results_datatable td {
    vertical-align: middle;
}
#course_search_results_list_items_div #course_search_results_datatable thead tr {
	background: #d6d6d6;
}
#course_search_results_list_items_div #course_search_results_datatable thead tr th {
    border: none;
    padding: 3px 7px;
    line-height: 1.5em;
    font-weight: bold;
    color: #5f5e5f;
    font-size: 88%;
}
#course_search_results_list_items_div #course_search_results_datatable tbody tr td {
	line-height: 1.8em;
    height: 1.8em;
    padding: 3px 7px;
}
#course_search_results_list_items_div #course_search_results_datatable tbody tr td.courseCode span.courseCode {
    font-weight: bold;
    white-space: nowrap;
}
#course_search_results_list_items_div #course_search_results_datatable tbody tr td.courseName span.courseName a {
    display: block;
    line-height: 1.8em;
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    cursor: pointer;
}
/*
#course_search_results_list_items_div #course_search_results_datatable tbody td dl,
#course_search_results_list_items_div #course_search_results_datatable tbody td dl dd {
    margin:0;
    padding:0;
}
#course_search_results_list_items_div #course_search_results_datatable tbody td dl {
    white-space: nowrap;
}
#course_search_results_list_items_div #course_search_results_datatable tbody td dl dd {
    display: block;
    clear: both;
}
#course_search_results_list_items_div #course_search_results_datatable tbody td dl dd dl dd {
    display: inline;
    clear: none;
}
#course_search_results_list_items_div #course_search_results_datatable tbody td dl dd dl dd:after {
    content: ",";
    margin: 0 0.33em 0 0;
}
#course_search_results_list_items_div #course_search_results_datatable tbody td dl dd dl dd:last-child:after {
    content: "";
    margin: 0;
}
*/
#course_search_results_list_items_div #course_search_results_datatable .odd,
#course_search_results_list_items_div #course_search_results_datatable .odd td[class^='sorting_'] {
    background: #fff;
}
#course_search_results_list_items_div #course_search_results_datatable .even,
#course_search_results_list_items_div #course_search_results_datatable .even td[class^='sorting_'] {
    background: #eee;
}
#course_search_results_list_items_div #course_search_results_datatable .odd:hover,
#course_search_results_list_items_div #course_search_results_datatable .even:hover {
    background: #ddd;
}
#course_search_results_list_items_div .dataTables_paginate.paging_full_numbers {
    width: auto;
    float: none;
    background: #d6d6d6;
    border: solid 1px #a9a9a9;
    border-top: none;
}
#course_search_results_list_items_div .dataTables_paginate .first,
#course_search_results_list_items_div .dataTables_paginate .last,
#course_search_results_list_items_div .dataTables_paginate .paginate_button,
#course_search_results_list_items_div .dataTables_paginate .paginate_active,
#course_search_results_list_items_div .dataTables_paginate .paginate_button:hover {
	background: none;
	border: none;
}
#course_search_results_list_items_div .dataTables_paginate .first,
#course_search_results_list_items_div .dataTables_paginate .last {
	display:none;
}
#course_search_results_list_items_div .dataTables_paginate .paginate_active {
    font-weight:bold;
    background: #666;
    color:#fff;
}
#course_search_results_list_items_div .dataTables_paginate .first:hover,
#course_search_results_list_items_div .dataTables_paginate .last:hover,
#course_search_results_list_items_div .dataTables_paginate .paginate_button:hover {
	text-decoration: underline;
}

/* Styles for empty result set page */
#empty_table_div {
    width: 578px;
}
#empty_table_div .dataTables_info {
    font-size: 150%;
    line-height: 150%;
    margin-bottom: 0.25em;
}
#empty_table_help_div {
    border: solid 1px #a9a9a9;
    padding: 10px 10px 0 10px;
}
#empty_table_help_div #empty_table_help_group {
    margin: 0 auto;
    width: 70%;
    padding: 1.5em 0;
}
#empty_table_help_group span {
    line-height: 1.5em;
}
#empty_table_message1_span {
    font-size: 125%;
    font-weight: bold;
}
#empty_table_message_list_group>div>span>span{
    display: list-item;
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
}

/* Styles for course details page */
#course_details_overview_div .datatable {
	margin-top:3em;
    line-height: 1.8em;
}
#course_details_overview_div table th,
#course_details_overview_div table td {
    padding-bottom: 1em;
}
#course_details_overview_div table th label {
    white-space: nowrap;
}
#course_details_overview_div table td .boxLayoutHorizontalItem {
    margin: 0 0.33em 0 0;
}
/*
#course_details_overview_div table td ul,
#course_details_overview_div table td ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    display: block;
}
*/
#course_details_overview_div table td ul,
#course_details_overview_div table td ul li,
#course_details_overview_div table td dl,
#course_details_overview_div table td dl dd,
#course_search_results_list_items_div table td dl,
#course_search_results_list_items_div table td dl dd {
    list-style: none;
    padding: 0;
    margin: 0;
}
#course_details_overview_div table td .vertical dl,
#course_details_overview_div table td .vertical dl dd {
    display: block;
}
#course_details_overview_div table td .horizontal dl,
#course_details_overview_div table td .horizontal dl dd {
    float: left;
}
#course_details_overview_div table td .horizontal dl {
    clear: both;
}
#course_details_overview_div table td .horizontal dl dd:after {
    content: ",";
    margin-right: 0.33em;
}
#course_details_overview_div table td .horizontal dl dd:last-child:after {
    content: "";
    margin-right: 0;
}
#course_details_overview_div table td .icon dl,
#course_details_overview_div table td .icon dl dd {
    display: block;
    float: left;
}
#course_details_overview_div table td .icon dl {
    clear: both;
}
#course_details_overview_div table td .icon dl dd {
    background: #ccc;
    color: #333;
    border-radius: 3px;
    margin: 0 0.5em 0 0;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    clear: none;
}
#course_details_overview_div table td .icon dl dd:last-child {
    margin: 0;
}





#course_search_results_list_items_div table td.courseQuarter dl,
#course_search_results_list_items_div table td.courseQuarter dl dd {
    display: block;
    float: left;
}
#course_search_results_list_items_div table td.courseQuarter dl {
    clear: both;
}
#course_search_results_list_items_div table td.courseQuarter dl dd {
    margin: 0 0 3px 0;
    clear: both;
}
#course_search_results_list_items_div table td.courseQuarter dl dd:last-child {
    margin:0;
}
#course_search_results_list_items_div table td.courseQuarter dl dd.scheduled dl dd {
    background: #ccc;
    color: #333;
    border-radius: 3px;
    margin: 0 0.5em 0 0;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    clear: none;
}
#course_search_results_list_items_div table td.courseQuarter dl dd.projected dl dd {
    clear: none;
}
#course_search_results_list_items_div table td.courseQuarter dl dd.projected dl dd:after {
    content: ",";
    margin-right: 0.33em;
}
#course_search_results_list_items_div table td.courseQuarter dl dd.projected dl dd:last-child:after {
    content: "";
    margin-right: 0;
}
#course_search_results_list_items_div table td.courseQuarter dl dd dl dd:last-child {
    margin: 0;
}



#course_details_overview_div table td .source {
    font-size: 90%;
    color: #777;
}
span.link_back {
    margin-bottom: 2em;
    display: block;
}

#saved_courses_detail_div ul,
#saved_courses_detail_div ul li {
    margin: 0;
    padding: 0;
}

#saved_courses_detail_div .kr-section-subhead {
    font-size: 125%;
    font-weight: normal;
    margin-bottom: 1em;
}
#saved_courses_detail_div ul li {
    border-top: dotted 1px #aaaaaa;
    padding:10px;
    display:block;
}
