#view_div {
	margin:0 auto;
	padding: 10px;
	width: 940px;
}

.myplan .breadcrumbs, .myplan #viewpage_div, .myplan #viewheader_div  {
	margin: 0;
	padding: 0;
}

.myplan .summary {
	max-width: none;
}
.myplan .boxLayoutVerticalItem {
	padding: 0;
	margin: 0 0 10px 0;
}
.myplan .boxLayoutHorizontalItem {
	margin: 0 10px 0 0;
}

.myplan .page-title-header {
    font-family: arial,helvetica,clean,sans-serif;
    margin: 1em 0 0 0;
}

.myplan #viewlayout_div {
    margin: 0 10px;
}

#mystuff_panel_div {
	margin: 0;
    border: solid 1px #d3d3d3;
    width:198px;
}
