*,
*:active,
*:focus {
	outline: 0;
}
body {
    font: 12px/1.2em Helvetica, Arial, clean, sans-serif;
}
pre {
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    outline: 0;
    border: none;
    color: #1d8fd9;
}
#view_div {
	margin:0 auto;
	padding: 10px 0 10px 10px;
	width: 950px;
}
#appheader_div {
	width: 940px;
}
#appheader_div #appheading_div {
    overflow:auto;
}
#appheader_div #applogo_div,
#appheader_div #appuser_div {
    width:50%;
    float:left;
    overflow:auto;
}
#appheader_div #applogo_div {
    font-size: 3em;
    line-height: normal;
}
#appheader_div #applogo_div span{
    font-size: 50%;
    color: #999999;
}
#appheader_div #appuser_div {
    text-align:right;
    overflow: hidden;
}
#appheader_div #appuser_div .links ul,
#appheader_div #appuser_div .links ul li {
    list-style:none;
    margin: 0;
    padding: 0;
}
#appheader_div #appuser_div .links ul li {
    display:inline-block;
}
#appheader_div #appnav_div {
    clear: both;
    border: solid 1px #e5e5e5;
    background: #f5f5f5;
    color: #999999;
    padding: 15px;
    margin: 10px 0px 0px 0px;
}
#appnav_div ul,
#appnav_div ul li,
#appfooter_div ul,
#appfooter_div ul li {
    list-style: none;
    margin:  0;
    padding:  0;
}
#appnav_div ul li,
#appfooter_div ul li {
    display: inline-block;
    margin-left: 2em;
}
#appnav_div ul li:first-child,
#appfooter_div ul li:first-child {
    margin:  0;
}
#appfooter_div {
	border: solid 1px #e5e5e5;
    background: #f5f5f5;
    color: #999999;
    padding: 15px;
    margin: 10px 0px 0px 0px;
    width: 908px;
}
.myplan-view #viewpage_div {
	min-height: 450px;
}
/* Overwrite KRAD Styles ########################################################################### */
.myplan-view #viewpage_div,
.myplan-view #viewheader_div,
.myplan-view #viewfooter_div {
	margin: 0;
	padding: 0;
    width: auto;
    clear: both;
}
.myplan-view #viewnavigation_div {
	display: none;
}
.myplan-view .uif-pageHeaderField .uif-header {
    border: none;
    font: bold 1.72em/1.5em Georgia, "Times New Roman", Serif !important;
    padding: 0;
}
.myplan-view .kr-breadcrumbs {
    margin: 0 0 1em 0;
    padding: 0;
    width: auto;
    clear: both;
}
.myplan-view .boxLayoutVerticalItem,
.jquerybubblepopup .boxLayoutVerticalItem {
	margin: 0 0 10px 0;
    padding: 0;
}
.myplan-view .boxLayoutHorizontalItem,
.jquerybubblepopup .boxLayoutHorizontalItem {
	margin: 0 10px 0 0;
    padding:  0;
}
.myplan-view .uif-instructionalMessage {
	max-width: none;
    font-size: 1em;
}
.myplan-view .uif-collectionGroup > div:nth-child(2) {
    padding: 0;
    margin: 0;
}
.myplan-button,
.myplan-button:hover {
    line-height: 22px;
    height: 24px;
	padding: 0px 10px;
    margin: 0;
    border: solid 1px #969696;
    border-radius: 4px;
}
.myplan-button-blue,
.myplan-button-blue:hover {
	color: #FFF;
    text-shadow: 0px 1px 0px #333;
    background: #007DD6;
    background: -moz-linear-gradient(top, #8BCEFD 0%, #007DD6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8BCEFD), color-stop(100%, #007DD6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8BCEFD 0%,#007DD6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8BCEFD 0%, #007DD6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8BCEFD 0%, #007DD6 100%); /* IE10+ */
    background: linear-gradient(top, #8BCEFD 0%, #007DD6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8BCEFD', endColorstr='#007DD6', GradientType=0);  /* IE6-9 */
}
.myplan-button-gray,
.myplan-button-gray:hover {
    color: #333;
    text-shadow: 0px 1px 0px #FFF;
    background: #EBEBEB;
    background: -moz-linear-gradient(top, #FDFDFD 0%, #EBEBEB 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #EBEBEB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FDFDFD 0%,#EBEBEB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FDFDFD 0%, #EBEBEB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FDFDFD 0%, #EBEBEB 100%); /* IE10+ */
    background: linear-gradient(top, #FDFDFD 0%, #EBEBEB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#EBEBEB', GradientType=0);  /* IE6-9 */
}
.myplan-button-transparent,
.myplan-button-transparent:hover {
    color: #1D8FD9;
    text-shadow: none;
    border-color: transparent !important;
    background: transparent !important;
    filter: none;
}
.myplan-stacked-list,
.myplan-stacked-list ul,
.myplan-stacked-list li,
.myplan-stacked-list ul li,
.myplan-stacked-list dl,
.myplan-stacked-list dd,
.myplan-stacked-list dl dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
.myplan-stacked-list li,
.myplan-stacked-list ul li,
.myplan-stacked-list dd,
.myplan-stacked-list dl dd {
    display: block;
}
.myplan-data-list dl,
.myplan-data-list dl dd {
    margin: 0;
    padding: 0;
    display: inline;
}
.myplan-data-list dd.scheduled,
.myplan-data-list dd.projected {
    clear: both;
    display: block;
}
.myplan-data-list .scheduled dl dd,
.myplan-data-list dl.scheduled dd {
    background: #ccc;
    color: #333;
    border-radius: 3px;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    clear: none;
    margin-right: 0.33em;
    line-height: 1.8em;
    display: inline-block;
}
.myplan-data-list dl dd:before {
    content: ", ";
}
.myplan-data-list dl dd:first-child:before,
.myplan-data-list .scheduled:before,
.myplan-data-list .projected:before,
.myplan-data-list .scheduled dl dd:before,
.myplan-data-list dl.scheduled dd:before {
    content: "";
}
.myplan-carousel-list > .uif-headerField .uif-header {
    text-align: center;
}
.myplan-carousel-list > div[id$='_group'] {
    overflow: hidden;
}
.myplan-carousel-list > div[id$='_group'] ul {
    width: 20000em;
}
.myplan-carousel-list ul,
.myplan-carousel-list ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.myplan-carousel-list ul li {
    float:left;
}
.myplan-carousel-list ul li > .uif-group {
    border:solid 1px #ccc;
    width: 160px;
    margin: 0 10px;
    border-radius: 4px;
}
.myplan-carousel-list ul li .uif-group .uif-groupHeader {
    display:block;
    white-space:nowrap;
    text-align:center;
    background:#ccc;
    font-weight:bold;
    padding:5px 0px;
}
.myplan-carousel-list ul li .uif-group .uif-stackedCollectionLayout {
    height: 200px;
    overflow: hidden;
}
.myplan-carousel-list ul li .uif-group .uif-stackedCollectionLayout .uif-collectionItem {
    border-top:dotted 1px #ccc;
    padding:5px;
    font-size:90%;
}
.myplan-carousel-term-total {
    background:#ccc;
    padding:5px;
    overflow:hidden;
    font-weight:bold;
    color:#666;
    font-size:90%;
}
.myplan-carousel-term-total table[role="presentation"] {
    margin: 0;
}
.myplan-carousel-term-total table[role="presentation"] th {
    text-align: left;
    padding: 0;
}
.myplan-carousel-term-total table[role="presentation"] td {
    text-align: right;
    padding: 0;
}
/* Layout styles ########################################################################### */
.myplan-container-720 {
    width: 720px;
}
.myplan-course-search-panel {
	background: #d6d6d6;
	border: solid 2px #a9a9a9;
	padding: 10px 0 0 10px;
	border-radius: 8px;
    overflow: hidden;
}
.myplan-remove-margin span.boxLayoutVerticalItem,
.myplan-remove-margin span.boxLayoutHorizontalItem {
    margin: 0;
    padding: 0;
}
.myplan-message-border {
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 32px !important;
    border: solid 1px #d7d7d7;
    display: block;
    margin: 0 !important;
}
.myplan-message-noborder {
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 32px !important;
    display: block;
    margin: 0 !important;
}
.myplan-message-success {
    background: #e4e4e4 url(../images/iconSuccess16.png) no-repeat 7px center;
}
.myplan-message-info {
    background: #e4e4e4 url(../images/iconInfo16.png) no-repeat 7px center;
}
.myplan-action-success {
    background: transparent url(../images/iconSuccess.png) no-repeat 0px center;
}
/* Text styles ########################################################################### */
.myplan-text-italic {
    font-style: italic !important;
}
.myplan-text-align-left {
    text-align: left !important;
}
.myplan-text-nowrap {
    white-space: nowrap !important;
}
.myplan-text-wrap {
    white-space: normal !important;
}
.myplan-text-normal,
.myplan-text-normal label {
    font-weight: normal !important;
}
.myplan-text-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
#course_search_results_datatable td.myplan-text-ellipsis {
    display: table-cell;
}
/* Hide search results hidden columns ######################################################### */
#course_search_results_datatable .col7,
#course_search_results_datatable .col8,
#course_search_results_datatable .col9,
#course_search_results_datatable .col10,
#course_search_results_datatable .col11,
#course_search_results_datatable .col12 {
	display: none;
}
/* Styles for Facet Panel ################################################################################## */
.myplan-course-search-panel input[type='text'] {
    border: solid 1px #969696;
    padding: 4px;
    width: 200px;
}
/* Styles for Facet Panel ################################################################################## */
.myplan-facets-panel {
	border: solid 1px #a9a9a9;
    border-top: none;
    font-size: 90%;
    width: 128px;
}
.myplan-facets-panel a, .myplan-facets-panel a:hover{
    color: #000;
}
.myplan-facets-panel .boxLayoutVerticalItem,
.myplan-facets-panel .myplan-facets-group ul,
.myplan-facets-panel .myplan-facets-group ul li {
    margin: 0;
    padding: 0;
}
.myplan-facets-panel .myplan-facets-group .uif-listCollectionGroup {
	max-height: 95px;
	overflow-y: auto;
    border-top: solid 1px #a9a9a9;
    padding-top: 3px;
}
.myplan-facets-panel .myplan-facets-group .uif-listCollectionGroup div[id$='_group'] {
	overflow: hidden;
}
.myplan-facets-group a[id$='_toggle'] {
    text-decoration: none;
}
.myplan-facets-panel .uif-header {
	display: block;
	font-weight: normal;
	background: #cccccc;
	border-top: solid 1px #a9a9a9;
	padding: 4px 0px 4px 4px;
    white-space: nowrap;
    color: #000;
    text-transform: none;
}
.myplan-facets-panel .myplan-facets-group .uif-header {
    font-weight: bold;
    background: #e9e9e9;
    font-size: 1em !important;
}
.myplan-facets-panel .myplan-facets-group .uif-header img.expand_collapse-buttons {
    float: right;
    background: url('../images/facetExpandCollapse.png') no-repeat 0px 0px;
    margin: 0;
}
.myplan-facets-panel .myplan-facets-group .uif-header img.expand_collapse-buttons[alt="expand"] {
    background-position: 0px 0px;
}
.myplan-facets-panel .myplan-facets-group .uif-header img.expand_collapse-buttons[alt="collapse"] {
    background-position: 0px -14px;
}
.myplan-facets-panel .myplan-facets-group span.all {
    border-top: solid 1px #a9a9a9;
    display: none;
}
.myplan-facets-panel .myplan-facets-group a.item {
    padding: 0 0 0 21px;
    background: url('../images/facetCheckbox.png') no-repeat 0px 0px;
    min-height: 16px;
    line-height: 16px;
    display: block;
    margin: 0 0 3px 3px;
    cursor: pointer;
    opacity: 1;
}
.myplan-facets-panel .myplan-facets-group a.item.all {
	margin-top: 3px;
}
.myplan-facets-panel .myplan-facets-group a.item.checked {
    background-position: 0px -32px;
}
.myplan-facets-panel .myplan-facets-group a.item.static,
.myplan-facets-panel .myplan-facets-group a.item.static:hover {
    background-position: 0px -32px;
	cursor: default;
    text-decoration: none;
}
.myplan-facets-panel .myplan-facets-group a.item span {
    color: #999;
    text-decoration: none;
}
.myplan-facets-panel .myplan-facets-group a.item.disabled,
.myplan-facets-panel .myplan-facets-group a.item.disabled:hover {
    text-decoration: none;
    cursor: default;
    opacity: 0.33;
}
/* Styles for course search results ########################################################################### */
.myplan-course-search-results {
    width: 568px;
    line-height: 1.8em;
}
.myplan-course-search-results .dataTables_info {
    float: none;
    font-size: 150%;
    width: 100%;
    margin: 0;
}
.myplan-course-search-results .dataTables_length {
    float: right;
    text-align: right;
    width: 100%;
    clear: both;
    margin: 0 0 0.5em 0;
}
.myplan-course-search-results .myplan-course-search-results-datatable {
    border: solid 1px #a9a9a9;
    border-bottom: none;
    width: 100%;
    margin: 0;
}
.myplan-course-search-results .myplan-course-search-results-datatable th,
.myplan-course-search-results .myplan-course-search-results-datatable td {
    vertical-align: middle;
}
.myplan-course-search-results-datatable .sorting,
.myplan-course-search-results-datatable .sorting_asc,
.myplan-course-search-results-datatable .sorting_desc {
    background-repeat: no-repeat;
    background-position: center right;
}
.myplan-course-search-results-datatable .sorting {
    background-image: url('../images/sortBoth.png');
}
.myplan-course-search-results-datatable .sorting_asc {
    background-image: url('../images/sortAsc.png');
}
.myplan-course-search-results-datatable .sorting_desc {
    background-image: url('../images/sortDesc.png');
}
.myplan-course-search-results .myplan-course-search-results-datatable thead tr {
	background: #d6d6d6;
}
.myplan-course-search-results .myplan-course-search-results-datatable thead tr th {
    border: none;
    padding: 4px;
    line-height: 1.5em;
}
.myplan-course-search-results .myplan-course-search-results-datatable thead tr th label {
    font-weight: bold;
    color: #5f5e5f;
    font-size: 88%;
    text-transform: none;
}
.myplan-course-search-results .myplan-course-search-results-datatable tbody tr td {
	line-height: 1.8em;
    height: 1.8em;
    padding: 2px 4px;
}
.myplan-course-search-results .myplan-course-search-results-datatable tbody tr td a.myplan-text-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.myplan-course-search-results .myplan-course-search-results-datatable .odd,
.myplan-course-search-results .myplan-course-search-results-datatable .odd td[class^='sorting_'] {
    background: #fff;
}
.myplan-course-search-results .myplan-course-search-results-datatable .even,
.myplan-course-search-results .myplan-course-search-results-datatable .even td[class^='sorting_'] {
    background: #eee;
}
.myplan-course-search-results .myplan-course-search-results-datatable .odd:hover,
.myplan-course-search-results .myplan-course-search-results-datatable .even:hover {
    background: #ddd;
}
.myplan-course-search-results .dataTables_paginate.paging_full_numbers {
    width: auto;
    float: none;
    background: #d6d6d6;
    border: solid 1px #a9a9a9;
    border-top: none;
}
.myplan-course-search-results .dataTables_paginate .first,
.myplan-course-search-results .dataTables_paginate .last,
.myplan-course-search-results .dataTables_paginate .paginate_button,
.myplan-course-search-results .dataTables_paginate .paginate_active,
.myplan-course-search-results .dataTables_paginate .paginate_button:hover {
	background: none;
	border: none;
}
.myplan-course-search-results .dataTables_paginate .first,
.myplan-course-search-results .dataTables_paginate .last {
	display:none;
}
.myplan-course-search-results .dataTables_paginate .paginate_active {
    font-weight:bold;
    background: #666;
    color:#fff;
}
.myplan-course-search-results .dataTables_paginate .first:hover,
.myplan-course-search-results .dataTables_paginate .last:hover,
.myplan-course-search-results .dataTables_paginate .paginate_button:hover {
	text-decoration: underline;
}
/* Styles for empty result set page ########################################################################### */
.myplan-course-search-empty {
    border: solid 1px #a9a9a9;
    padding: 10px 10px 0 10px;
}
.myplan-course-search-empty > div[id$='_group'] {
    margin: 0 auto;
    width: 80%;
    padding: 25px 0;
}
.myplan-course-search-empty > div[id$='_group'] div[id$='_group']>div>span>span {
    display: list-item;
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
}
/* Course Details Styles ########################################################################### */
.myplan-course-details table td,
.myplan-course-details table th {
    padding-bottom: 1.8em;
}
.myplan-course-details table td .boxLayoutHorizontalItem {
    margin: 0 0.33em 0 0;
}
/* MyPlan Section (right side container) ########################################################################### */
.myplan-section {
    border: solid 1px #ccc;
}
.myplan-section .boxLayoutVerticalItem,
.myplan-section .boxLayoutHorizontalItem {
    margin: 0;
    padding: 0;
}
.myplan-section .uif-headerField {
    font-weight: normal;
    display: block;
    text-align:center;
    line-height: 1.5em;
    padding: 5px;
    background: #e4e4e4;
}
.myplan-section .uif-headerField .uif-header {
    font-weight: normal;
    text-align: center;
}
.myplan-section .uif-headerField.uif-subSectionHeaderField {
    background: #ccc;
}
/* Saved Courses Summary Styles ########################################################################### */
.myplan-saved-courses-summary div.blockElement {
    left: 92px !important;
    top: 4px !important;
    border: none;
    width: 16px;
}
.myplan-saved-courses-summary > div[id$='_group']{
    min-height: 24px;
}
.myplan-saved-courses-summary ul li {
    border-bottom:dotted 1px #aaaaaa;
    padding: 6px 4px;
    display: block;
    clear:both;
    cursor: pointer;
    font-size: 95%;
}
.myplan-saved-courses-summary ul li:hover {
    background: #a9a9a9;
}
.myplan-saved-courses-summary ul li .boxLayoutHorizontalItem span {
    float: left;
    margin-right: 0.4em;
}
.myplan-saved-courses-summary ul li .boxLayoutHorizontalItem span.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

/* Saved Courses Detail Styles ########################################################################### */
.myplan-saved-courses-detail {
    line-height: 1.8em;
}
.myplan-saved-courses-detail ul,
.myplan-saved-courses-detail ul li,
.myplan-saved-courses-detail ul li dl,
.myplan-saved-courses-detail ul li dl dd {
    margin: 0;
    padding: 0;
}
.myplan-saved-courses-detail .uif-sectionHeaderField .uif-header {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 1em;
    border: none;
    font-family: Helvetica, Arial, clean, sans-serif;
}
.myplan-saved-courses-detail ul li {
    border-top: dotted 1px #aaaaaa;
    padding:10px;
    display:block;
}
.myplan-saved-courses-detail .myplan-saved-courses-detail-heading .uif-boxLayout {
	float: none !important;
}
.myplan-saved-courses-detail .myplan-saved-courses-detail-heading .uif-boxLayout span.boxLayoutHorizontalItem {
    width: 19%;
}
.myplan-saved-courses-detail .myplan-saved-courses-detail-heading .uif-boxLayout span.boxLayoutHorizontalItem:first-child {
    width: 62%;
}
/* Course Details Popup ########################################################################### */

.myplan-popup-close {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
.myplan-popup-item {
    width: 300px;
    height: 275px;
    float: left;
}
.jquerybubblepopup-innerHtml div.blockElement {
    top: 0px !important;
}
/* Recent Audit List Styles ########################################################################### */
.myplan-recent-audit div.blockElement {
    left: 92px !important;
    top: 4px !important;
    border: none;
    width: 16px;
}
.myplan-recent-audit > div[id$='_group']{
    min-height: 24px;
}
.myplan-recent-audit ul li {
    border-top:dotted 1px #aaaaaa;
    padding: 6px 4px;
    display: block;
    clear:both;
    cursor: pointer;
    font-size: 95%;
}
.myplan-recent-audit ul li:hover {
    background: #a9a9a9;
}
.myplan-recent-audit ul li:first-child {
    border: none;
}
.myplan-recent-audit ul li .boxLayoutHorizontalItem span {
    float: left;
    margin-right: 0.4em;
}

/* beginning of scrollbar ########################################################################### */
::-webkit-scrollbar {
        width:8px;
        height:8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
        display:block;
        height:0;
        background-color:transparent;
}
::-webkit-scrollbar-track {
		margin: 2px;
}
::-webkit-scrollbar-track-piece{
        background-color:#eee;
        -webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:vertical {
        height:50px;background-color:#999;
        -webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:horizontal {
        width:50px;background-color:#999;
        -webkit-border-radius:8px;
}