body {
    background: #fff;
}

.uif-pageContentWrapper {
    width: auto;
    margin: 0;
}

#Uif-ApplicationFooter-Wrapper {
    background: none !important;
    border: none !important;
    display: none;
}