form#kualiForm {
    margin: 0 auto;
    width: 950px;
}

.backdoor {
    .alert;
    .alert-info;
}

.uif-boxLayoutVerticalItem {
    margin: @marginDefault 0 0 0;
}

.uif-boxLayoutHorizontalItem {
    margin: 0 0 0 @marginDefault;
    float: left;
}

.uif-boxLayoutVerticalItem:first-child, .uif-boxLayoutHorizontalItem:first-child {
    margin: 0;
}

label {
    display: inline;
    margin: 0;
}

[class*="span"] {
    float: none;
    min-height: 0;
    margin: 0;
}