.schedulePossible__option {
    .border-radius(@baseBorderRadius);
    color: @white;
    padding: @paddingMini;

    & .schedulePossible__index {
        .bold();
        font-size: @fontSizeLarge;
    }

    & .schedulePossible__courseCode {
        .bold();
    }

    & .schedulePossible__save {

    }

}

.schedulePossible__event {
    .border-radius(0 0 @baseBorderRadius @baseBorderRadius) !important;
    border: none !important;

    & > .fc-event-bg {
        opacity: 0 !important;
        background: none !important;
    }

    & > .fc-event-inner > .fc-event-time {
        display: none;
    }
}

.schedulePossible--1 {
    background-color: #d55e00 !important;
}
.schedulePossible--2 {
    background-color: #e69f00 !important;
}
.schedulePossible--3 {
    background-color: #cc79a7 !important;
}
.schedulePossible--4 {
    background-color: #56b4e9 !important;
}
.schedulePossible--5 {
    background-color: #009e73 !important;
}