.schedulePossible__header {
    overflow: auto;

    & .schedulePossible__headerText {
        float: left;
    }

    & .schedulePossible__headerGroup--right {
        float: right;
        color: @grayLight;
        font-size: @fontSizeMini;
    }
}

.schedulePossible__option {
    .border-radius(@baseBorderRadius);
    color: @white;
    padding: @paddingMini;

    & .schedulePossible__index {
        .bold();
        font-size: @fontSizeLarge;
    }

    & .schedulePossible__courseCode {
        .bold();
    }

    & .schedulePossible__save {

    }
}

.scheduleCalendar {
    .schedulePossible__event {
        .border-radius(0 0 @baseBorderRadius @baseBorderRadius) !important;
        border: none !important;

        & > .fc-event-bg {
            opacity: 0 !important;
            background: none !important;
        }

        & > .fc-event-inner > .fc-event-time {
            display: none;
        }

        & > .fc-event-inner > .fc-event-title {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }

    .schedulePossible__event--1 {
        background-color: #d55e00 !important;
    }
    .schedulePossible__event--2 {
        background-color: #e69f00 !important;
    }
    .schedulePossible__event--3 {
        background-color: #cc79a7 !important;
    }
    .schedulePossible__event--4 {
        background-color: #56b4e9 !important;
    }
    .schedulePossible__event--5 {
        background-color: #009e73 !important;
    }
}
