.schedulePossible {
    background: #f2f2f2;
    margin: 0 !important;
    padding: @paddingDefault;
    border-left: @baseBorderStyle;
    border-right: @baseBorderStyle;

    .schedulePossible__legend {
        float: right;
        color: @grayLight;
        font-size: @fontSizeMini;
    }

    .schedulePossible__results {
        margin: 0;
        padding: @paddingDefault 0 0 0;

        & > .uif-horizontalBoxLayout {
            position: relative;
            width: 780px;
            padding: 0 74px;
        }
    }
}

.schedulePossible__carouselButton {
    background-color: @white;
    display: block;
    .border-radius(@baseBorderRadius);
    border: solid 1px #06c;
    margin: 0;
    width: 67px;
    text-align: center;
    padding: @paddingDefault 0;
    position: absolute;
    top: 0px;

    &:hover {
        text-decoration: none;
    }

    span {
        color: #06c;
        display: block;
        line-height: @baseFontSize;
    }

    img.actionImage {
        display: inline-block;
        width: 10px;
        height: 18px;
        margin: 0 0 @marginDefault 0;
    }

    &.disabled {
        border-color: #ccc;
        background-color: #f2f2f2;
        color: #bcbcbc;
        cursor: default;

        span {
            color: #bcbcbc;
        }
    }

    &.schedulePossible__carouselButton--prev {
        left: 0px;

        img.actionImage {
            background: url('../images/icon_sprite.png') no-repeat -4px -234px;
        }

        &.disabled img.actionImage {
            background: url('../images/icon_sprite.png') no-repeat -40px -234px;
        }
    }

    &.schedulePossible__carouselButton--next {
        right: 0px;

        img.actionImage {
            background: url('../images/icon_sprite.png') no-repeat -22px -234px;
        }

        &.disabled img.actionImage {
            background: url('../images/icon_sprite.png') no-repeat -58px -234px;
        }
    }
}

.schedulePossible__carousel {
    width: 780px;
    margin: 0;
    overflow: hidden;
    & ul {
        width: 100000em;
        margin: 0 !important;
        padding: 0;
        list-style: none;
    }

    & li {
        margin: 0 @marginSmall;
        padding: 0;
        list-style: none;
        float: left;
    }
}

.schedulePossible__option {
    .border-radius(@baseBorderRadius);
    color: @white;
    padding: @paddingSmall;
    width: 136px;
    cursor: pointer;
    background-color: #666666;

    & .schedulePossible__index {
        font-size: @fontSizeMax;
        margin: 0;
        float: right;
    }

    & .schedulePossible__courseCode {
        .bold();
    }

    & .schedulePossible__save {
        display: none;
        margin: 0;
        cursor: pointer;

        .uif-image {
            background: url('../images/icon_pin_off.png') no-repeat;
            width: 21px;
            height: 21px;
        }

        &:hover .uif-image {
            background: url('../images/icon_pin_on.png') no-repeat;
        }
    }

    & .schedulePossible__details {
        display: none;
        margin: 0 @marginSmall 0 0;
        font-size: @fontSizeSmall;
        .bold();
        line-height: 19px;
        border: solid 1px @white;
        .border-radius(@borderRadiusSmall);
        cursor: pointer;

        .uif-message {
            width: 108px;
            text-align: center;
            position: relative;
            top: 1px;
        }

    }

    &.schedulePossible__option--saved {
        background-color: #cccccc !important;
        cursor: default !important;

        & .schedulePossible__save {
            display: block;

            .uif-image {
                background: url('../images/icon_pin_on.png') no-repeat;
            }
        }

        & .schedulePossible__details {
            display: block;
        }
    }

    &.schedulePossible__option--active {
        .schedulePossible__save,
        .schedulePossible__details {
            display: block;
        }

        .schedulePossible__details:hover {
            background-color: @white;
        }
    }

    &:hover {
        background-color: #aeaeae;
    }
}

.schedulePossible__empty {
    display: block;
    float: none;
    padding: (@paddingDefault * 4);
    text-align: center;
    font-size: @fontSizeLarge;
    color: @grayLight;
}