.auditRun {
    border: @baseBorderStyle;
    border-top: none;
    .border-radius(0px 0px @baseBorderRadius @baseBorderRadius);
    background-color: #fdfaf3;
    padding: @paddingLarge;
    margin: 0;
}

.auditRun__radioSet {
    margin: @marginDefault 0 0;
    & input, & label {
        vertical-align: middle;
        margin: 0;
    }

    & label {
        margin: 0 @marginLarge 0 @marginSmall;
    }
}