//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.alert {
    padding: 8px 16px 8px 30px;
    margin-bottom: @baseLineHeight;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: @warningBackground !important;
    border: 1px solid @warningBorder;
    .border-radius(@baseBorderRadius);
    background-repeat: no-repeat;
    background-position: 8px 9px;
    background-image: url('../images/icons/warning.png');

    .alert-wrapper {
        background-image: url('../images/icons/warning.png');
        background-repeat: no-repeat;
        background-position: 0px 5px;
        width: 925px;
        margin: 0 auto;
    }

    div {
        margin-top: @marginSmall;

        &:first-child {
            margin-top: 0;
        }
    }
}

.alert-banner {
    .border-radius(0);
    margin: 0;
    padding: 0;
    background-image: none !important;

    .alert-wrapper {
        padding: 4px 5px 4px 20px;
    }
}

.alert,
.alert h4 {
    // Specified for the h4 to prevent conflicts of changing @headingsColor
    color: @warningText;
}

.alert a {
    font-weight: 700;
    color: @warningLink;
}

.alert h4 {
    margin: 0;
}

// Adjust close link position
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: @baseLineHeight;
}

// Alternate styles
// -------------------------

.alert-success {
    background-color: @successBackground !important;
    border-color: @successBorder;
    color: @successText;
    background-image: url('../images/icons/accept.png');

    .alert-wrapper {
        background-image: url('../images/icons/accept.png');
    }
}

.alert-success h4 {
    color: @successText;
}

.alert-success a {
    color: @successLink;
}

.alert-danger,
.alert-error {
    background-color: @errorBackground !important;
    border-color: @errorBorder;
    color: @errorText;
    background-image: url('../images/icons/exclamation.png');

    .alert-wrapper {
        background-image: url('../images/icons/exclamation.png');
    }
}

.alert-danger h4,
.alert-error h4 {
    color: @errorText;
}

.alert-danger a,
.alert-error a {
    color: @errorLink;
}

.alert-info {
    background-color: @infoBackground !important;
    border-color: @infoBorder;
    color: @infoText;
    background-image: url('../images/icons/infomation.png');

    .alert-wrapper {
        background-image: url('../images/icons/infomation.png');
    }
}

.alert-info h4 {
    color: @infoText;
}

.alert-info a {
    color: @infoLink;
}

.alert-dismissable {
    padding-right: 35px
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

// Block alerts
// -------------------------

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

.alert-inline {
    float: left;
}

.alert-search-icon {
  background-image: url('../images/icon_search_blue.png') !important;
  margin-left: 24px;
}
.alert-unboxed {
    background-color: transparent;
    border: none;
    background-position: 0px 1px;
    padding: 0 0 0 22px;
    text-shadow: none;
    .border-radius(none);
}

.alert-replace-btn {
    line-height: 30px;
    background-position: 0px 6px;
}

.alert-replace-btn-small {
    line-height: 26px;
    background-position: 0px 6px;
}

// For old audits...
.myplan-status {
    .alert;

    &.info {
        .alert-info;
    }

    &.success {
        .alert-success;
    }

    &.error {
        .alert-error;
    }

    .icon {
        display: none;
    }
}

.alert-margin {
    margin: 0px !important;
}

.alert-small {
    padding: 4px 16px 4px 30px;
    background-position: 8px 6px;
}