body {
    background: #fff;
}

.uif-application {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
}

#Uif-ApplicationFooter-Wrapper {
    background: none !important;
    border: none !important;
}