.registrationActivity__data {
    font-size: @fontSizeSmall;

    .uif-header-upperGroup {
        background-color: #ededed;

        .registrationActivity__label {
            font-size: @fontSizeMin;
            color: @textColorMin;
            text-transform: uppercase;
            padding: 0 @paddingMini;
            margin: 0;
            font-family: @altFontFamily;
        }
    }

    fieldset {
        & > span {
            position: relative;
        }

        input.uif-verticalRadioControl {
            position: absolute;
            top: 5px;
            left: 3px;
        }

        label {
            display: block;
            padding: 2px 0 2px 24px !important;
            border-top: @dottedBorderStyle;

            div {
                display: inline-block;
                padding: 0 @paddingMini;
                margin: 0;
                vertical-align: top;
            }
        }
    }

    table {

        thead {
            display: none;
        }
        tbody {
            td {
                padding: 0 @paddingMini;
                vertical-align: top;
                color: @textColorMin;
            }
        }
    }

    .uif-collectionItem {

        .uif-boxLayoutHorizontalItem {
            display: inline-block;
            float: none;
            vertical-align: top;
            padding: 0 @paddingMini;
            margin: 0;
        }
    }

    .registrationActivity__row {
        border-top: @dottedBorderStyle;
        padding: 2px 0;
    }
}

.registrationActivity__code {
    width: 24px;
    color: @textColor !important;
    .bold();

    &.registrationActivity__sectionCd--planned {
        background: url('../images/planned_activity_bkgrd.png');
    }
}
.registrationActivity__type {
    width: 72px;
    text-transform: capitalize;
}
.registrationActivity__meetingDays {
    width: 64px;
}
.registrationActivity__meetingTime {
    width: 120px;
}
.registrationActivity__tbd {
    width: 122px;
}
.registrationActivity__meetingLocation {
    width: 72px;
}
.registrationActivity__instructor {
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.registrationActivity__regCode {
    width: 48px;
}
.registrationActivity__instituteCode {
    width: 24px;
    font-size: @fontSizeMin;
    color: @white !important;
    background: @gray;
    padding: 0 !important;
    margin: 0 3px !important;
    line-height: 16px;
    position: relative;
    top: 2px;
    text-align: center;
    visibility: hidden;

    &.registrationActivity__instituteCode--show {
        visibility: visible;
    }
}
.registrationActivity__enrollRest {
    width: 60px;

    img {
        width: 16px;
        height: 16px;
    }

    &.registrationActivity__enrollRest--true img {
        background: url('../images/icon_sprite.png') no-repeat -1px -217px transparent;
    }
}
.registrationActivity__enrollState {
      width: 56px;

    strong {
        color: @black;
    }
}
.registrationActivity__enrollStatus {
    width: 48px;

    &.registrationActivity__enrollStatus--open{
        color: @green;
    }
}

.registrationActivity__sectionComments {
    width: 818px;
    color: @red;
    font-style: italic;
    font-size: @fontSizeMini;
    line-height: @baseFontSize;
}