.registrationForm__note {
    color: @red;
    font-style: italic;
    margin: @marginExtraLarge 0 0 0;
}
.registrationForm__footer {
    margin: @marginLarge 0 0 0;
    padding: @paddingLarge 0 0 0;
    border-top: @baseBorderStyle;
}